@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0%;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #198754;
}

main {
  width: 50%;
  margin: 10vh auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
}

#logo {
  width: 15vw;
  max-width: 250px;
  height: auto;
  border-radius: 25%;
}

#search-btn {
  position: absolute;
  width: 15%;
  height: 60px;
  background-color: #D1E7DD;
  border: none;
  border-radius: 5vw;
  z-index: 1;
  justify-content: center;
  align-items: center;
  left: 0;
  margin-top: 50%;
}

#search-box {
  position: absolute;
  width: 100%;
  height: 60px;
  margin-top: 50%;
  padding: 0 2vw;
  border: none;
  border-radius: 5vw;
  text-align: center;
  font-size: large;
}

input:focus,
input:focus-visible {
  outline: none;
}

section {
  position: absolute;
  height: 50px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80%;
  border: none;
  border-radius: 5vw;
  background-color: #fff;
  padding: 0 5% 0 5%;
}

.buttons {
  height: 20px;
  cursor: pointer;
  display: flex;
}

#hf-btn,
#chf-btn,
#crf-btn {
  position: absolute;
  height: 50;
  width:  33.33%;
  justify-content: center; 
  align-items: center;
  color: #198754;
}

#hf-btn {
  background-color: #D1E7DD;
  border-radius: 5vw 0 0 5vw;
  left: 0%;
}

#chf-btn {
  background-color: #FFF3CD;
}

#crf-btn {
  background-color: #F8D7DA;
  border-radius: 0 5vw 5vw 0;
  right: 0%;
}

#hf-btn:hover,
#chf-btn:hover,
#crf-btn:hover {
  background-color: #CFF4FC;
}

footer {
  position: absolute;
  display: inline;
  bottom: 0%;
  text-align: center;
  width: 100%;
  height: 40px;
  color: white;
}

/*
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15vh;
    border: 1px solid black;
}





input:focus,
input:focus-visible {
    outline: none;
}

section {
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vw;
    border: none;
    border-radius: 5vw;
    background-color: #fff;
}

.buttons {
    padding: 5px 20px;
    height: 20px;
    cursor: pointer;
}

#search-btn {
    width: 8vw;
    height: 60px;
    background-color: #D1E7DD;
    border: none;
    border-radius: 5vw;
    position: ;
    margin: 35vw auto;
    z-index: 1;
}
 
#hf-btn,
#chf-btn,
#crf-btn {
    height: 40;
}

#hf-btn {
    background-color: #D1E7DD;
    border-radius: 5vw 0 0 5vw;
}

#chf-btn {
    background-color: #FFF3CD;
}

#crf-btn {
    background-color: #F8D7DA;
    border-radius: 0 5vw 5vw 0;
}

#hf-btn:hover,
#chf-btn:hover,
#crf-btn:hover {
    background-color: #CFF4FC; 
}
*/
/*
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

body {
  background-color: hsl(122, 45%, 44%);
}

.center-content {
  display: flex;
  align-items: center; 
  flex-direction: column;
  margin-top: 200px;
}

.logo {
  width: 200px;
  height: auto;
  border-radius: 25%;
}

.search-box {
  padding: 8px 8px 8px 30px;
  margin: 66px 0;
  border: none;
  border-radius: 40px;
  width: 50%;
  height: 40px;
  font-size: 16pt;
}

input:focus-visible,
input:focus {
  outline: #87a922 auto 0px;
}

.button-group {
  height: 56px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #fff;/*işl
}

.button {
  padding: 18px 16px;
  margin: 0 0px;
  width: 150px;
  text-align: center;
  color: hsl(122, 45%, 44%);
  cursor: pointer;
  border: none;
  font-size: 16px;
}

.button-search {
  padding: 8px;
  margin: 16px 0;
  cursor: pointer;
  border-radius: 40px;
  background-color: #B5F1CC;
  z-index: 10;
  background: #C1F2B0;
  position: absolute;
  right: 23%;
  top: 450px;
  width: 8%;
  height: 56px;
}

.button-search:hover {
  background-color: #E5FDD1;
}

#searchIcon {
  color: #87a922;
}

.button1 {
  border-radius: 40px 0px 0px 40px;
  background-color: hsl(45, 75%, 85%);
}

.button1:hover {
  background-color: hsl(45, 75%, 95%);

}

.button2 {
  border-radius: 0px;
  background-color: hsl(225, 75%, 85%);
}

.button2:hover {
  background-color: hsl(225, 75%, 95%);
}

.button3 {
  border-radius: 0px 40px 40px 0px;
  background-color: hsl(300, 75%, 85%);
}

.button3:hover {
  background-color: hsl(300, 75%, 95%);
}


*/